:root {
  --bg: white;
  --bg-highlight: rgb(247, 248, 247);
  --border-color: black;
  --border-radius: 0.25rem;
  --font-family: Verdana, sans-serif;
  --font-color: rgb(0, 0, 0);
}

body {
  background-color: var(--bg-highlight);
  font-family: var(--font-family);
  color: var(--font-color);
   line-height: 20px;
  letter-spacing: 0.5px;
  
}

$heading-sizes: (
  h1: clamp(2rem, 5vw, 3rem),
  h2: clamp(1.75rem, 4vw, 2.5rem),
  h3: clamp(1.5rem, 3vw, 2rem),
  h4: clamp(1.25rem, 2vw, 1.5rem),
  h5: clamp(1rem, 1.5vw, 1.25rem),
);

// Apply sizes using a loop
@each $heading, $size in $heading-sizes {
  #{$heading} {
    font-size: $size;
    font-family: var(--font-family);
  }
}

a{
  font-size:1.15em;
}


main {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 1vw 2vw 1vw;
  margin: 1vw auto;
  min-height: 95vh;
  width: 40vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

dialog {
  text-align: center;
  position: fixed;
  top: 30vh;
  width: 300px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  background-color: inherit;
  color: inherit;
}

button {
  border: 1px solid var(--border-color);
  background-color: var(--bg-highlight);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: inherit;
}

// Form elements
input,
select {
  display: block;
}

input,
select,
textarea {
  background-color: var(--bg-highlight);
  color: inherit;
  margin: 6px 20px 6px 0;
  padding: 10px;
  border-radius: var(--border-radius);
  width: 80%;
  border: 2px solid;
}

// input[type="date"],
// input[type="time"],
// input[type="week"],
// input[type="month"],
// input[type="datetime-local"] {
//  //height: 15.11px;
// }

input[type="checkbox"],
input[type="radio"] {
  height: 1.5em;
  width: 1.5em;
}

// Grid system
.row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

[class*="col-"] {
  margin-right: 50px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / 12) * $i;
  }
}

// Table styling
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid var(--border-color);
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--bg-highlight);
  }
}

code {
  border: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--bg-highlight);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: var(--border-radius);
}

// Utility classes
.center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

// Media queries
@media (max-width: 1700px) {
  main {
    width: 80vw;
  }
}

@media (max-width: 850px) {
  .row {
    flex-direction: column;
  }

  [class*="col-"] {
    width: 100%;
  }

  main {
  box-shadow: none;
   }
  body{
    margin: 0;
    background-color: var(--bg);
  }
}
